In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data/reviews.csv")
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
data = data[["Title", "Review Text"]]
data.to_csv("data/reviews_final.csv")

In [6]:
for i in data["Review Text"].iloc[:5]:
    print(i)

Absolutely wonderful - silky and sexy and comfortable
Love this dress!  it's sooo pretty.  i happened to find it in a store, and i'm glad i did bc i never would have ordered it online bc it's petite.  i bought a petite and am 5'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.
I had such high hopes for this dress and really wanted it to work for me. i initially ordered the petite small (my usual size) but i found this to be outrageously small. so small in fact that i could not zip it up! i reordered it in petite medium, which was just ok. overall, the top half was comfortable and fit nicely, but the bottom half had a very tight under layer and several somewhat cheap (net) over layers. imo, a major design flaw was the net over layer sewn directly into the zipper - it c
I love, love, love this jumpsuit. it's fun, flirty, and fabulous! every time i wear it, i get nothing but great compliments!
This shirt is very flattering to all due to the adjustable front tie. it is the perfect length to wear with leggings and it is sleeveless so it pairs well with any cardigan. love this shirt!!!

In [25]:
# # Replace NaN values in "Review Text" with empty strings
# data['Review Text'] = data['Review Text'].fillna('')

# # Add a new column for the length of "Review Text"
# data['Text Length'] = data['Review Text'].apply(len)

# # Sort by the length of the "Review Text" column in descending order
# sorted_data = data.sort_values(by='Text Length', ascending=False)

# # Display only the sorted text lengths
# sorted_text_lengths = sorted_data['Text Length']
# print(sorted_text_lengths)

19304    508
17597    508
22936    507
1974     506
22010    506
        ...
4896       0
12320      0
4866       0
12392      0
20510      0
Name: Text Length, Length: 23486, dtype: int64